*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.vim/bundle
.vim/.netrwhist
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/slask/
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/app/assets/images/icons-*.png
/public/system/*
/public/assets/
/public/xls/
/public/pdf/
/elasticsearch
/txt/elasticsearch.yml
/txt/old/
.DS_Store
.AppleDouble
/config/environments/*
coverage
.vim/.netrwhist
/.emacs.d/elpa
/.emacs.d/backup
/.emacs.d/auto-save-list
/.emacs.d/projectile.cache
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/ido.last
/.emacs.d/cookies
/.emacs.d/eshell
/.emacs.d/url
