*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/slask/
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/app/assets/images/icons-*.png
/public/system/*
/public/assets/
/public/xls/
/public/pdf/
/elasticsearch
/txt/elasticsearch.yml
/txt/old/
.DS_Store
.AppleDouble
/config/environments/*
coverage
